:root {
  --width: 390px;
  --height: 844px;
}

.calculator-container {
  width: var(--width);
  height: var(--height);
  background-color: #22252d;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.calculator-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.calculator-title {
  text-align: center;
  text-transform: uppercase;
}

.calculator-display {
  text-align: end;
  font-weight: bold;
  color: white;
  margin: 0 1.5rem 2rem 1.5rem;
}

.calculator-display #display {
  font-size: 4rem;
  overflow: hidden;
  word-break: break-all;
  padding: 1rem 0;
  line-height: 3.5rem;
  overflow-y: auto;
  max-height: 10rem;
}

.calculator-body {
  background-color: #292d36;
  padding: 2rem 1rem;
  border-radius: 35px 35px 0 0;
  position: relative;
}

.calculator-body::after {
  content: "";
  position: absolute;
  width: 50%;
  height: 0.5rem;
  border-radius: 20px;
  bottom: 15px;
  background-color: #474b52;
  left: 0;
  right: 0;
  margin: auto;
}

.calculator-btns {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.5rem;
  margin: 0 0.5rem;
}

.calculator-btns button {
  background-color: #212835;
  font-weight: 600;
}

.calculator-btnOperatorOption {
  color: #26e1c0;
}

.calculator-btnOperator {
  color: #f47a7a;
}

#zero {
  grid-column: span 3;
}

#equals {
  grid-column: span 2;
}
